<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Todos</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        .pre-scrollable{
            height:500px;
            overflow-y: scroll;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <h1>Loan Records</h1>
    <div class="container mt-2 pre-scrollable">
        <p class="text-secondary">The following are the loan records</p>
        <table class="table">
            <thead>
            <tr>
                <th>Month</th><th>Starting amount</th><th>Interest</th><th>Monthly payments</th><th>Ending balance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${#numbers.sequence( 0, #arrays.length(interests)-1)}">
                <td th:text="${i.toString()}"></td>
                <td th:text="${startingAmounts[i]}"></td>
                <td th:text="${interests[i]}"></td>
                <td th:text="${monthlyPayment}"></td>
                <td th:text="${endingBalances[i]}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>